<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./static/style.css">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
    <div class="about-section">
    <h1>About Us</h1>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://api.amfoss.in/static/uploads/images/dp/018d0f75-b750-4be7-9799-8b599b8e5ae1.jpg" alt="Anurag" style="width:100%">
        <div class="container">
          <h2>Anurag Vinodkumar</h2>
          <p class="title"></p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="https://github.com/Ragify" class="git"><i class='bx bxl-github' ></i></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://api.amfoss.in/static/uploads/images/dp/78a482a9-0412-4ff7-b1f7-1377581e8472.jpg" alt="Arun" style="width:100%">
        <div class="container">
          <h2>Arun Govind M</h2>
          <p class="title"></p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="https://github.com/arungovindm2001" class="git"><i class='bx bxl-github' ></i></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/69108486?v=4" alt="Geo" style="width:100%">
        <div class="container">
          <h2>Geo Jolly Cheeramvelil</h2>
          <p class="title"></p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="https://github.com/kingjuno" class="git"><i class='bx bxl-github' ></i></a>
        </div>
        </div>
        </div>
    <div class="column">
       <div class="card">
          <img src="https://avatars.githubusercontent.com/u/73281663?v=4" alt="Gopi" style="width:100%">
            <div class="container">
              <h2>K Gopikrishna</h2>
              <p class="title"></p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <a href="https://github.com/gopik820" class="git"><i class='bx bxl-github' ></i></a>
            </div>

          </div>
        </div>

</body>  
</html>