<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>B-aid</title>
    <style type="text/css">
        body { font-family: Helvetica, sans-serif; }
        h2, h3 { margin-top:0; }
        form { margin-top: 15px; }
        form > input { margin-right: 40px; }
        #results 
        { 
            float:right; margin:20px; background:#ccc;
            height: 640; width:720;
            }
        #my_camera{
            align-items: center;
        }
    </style>
    <script type="text/javascript" src="../static/webcam.min.js"></script>
</head>

<body>
    <embed src="static/object.mp3" id="audio" autostart=false loop=false autoplay muted>
    <div id="results">Your captured image will appear here</div>
    
    <div id="my_camera"></div>

    <form>
        <input type=button button accesskey="&#13" value="Take Snap" onClick="take_snapshot()">
    </form>

    <script type="text/javascript">

        var intervalId = window.setInterval(function () {
            take_snapshot();
        }, 5000);

    </script>

    <script>
        document.getElementById("audio").style.display = "none";
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
                // display results in page
                document.getElementById('results').innerHTML = 
                    '<h2>Here is your image:</h2>' + 
                    '<img src="'+data_uri+'"/>';
            } );
        }
        Webcam.set({
            width:window.innerWidth/2,
            height: window.innerHeight/2,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach( '#my_camera' );
        var video = document.querySelector('audio');
        video.muted = true;
        video.play()
        setTimeout(function(){
            document.getElementById('audio').play();
        },1000);
    </script>
    
</body>
</html>